{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h3><i>Cars Guru — это автомобильный Интернет-портал, сочетающий многогранную
        и обширную базу информации по автомобилям с современными технологиями общения.
        Изначально проект охватывал преимущественно японские автомобили, но со временем,
        по мере роста и переплетения аудитории, акцент начал смещаться в сторону всех авто.

        Приобщить человека к миру хороших автомобилей — значит внести в его жизнь больше комфорта.
        Благодаря сайту Cars Guru ежедневно множество людей узнает что-то новое об этом мире комфорта, в
        котором автомобиль — это не только средство передвижения, но и средство, призванное доставлять
        удовольствие от владения им.

        Одна из важных наших задач — объединить автовладельцев в единое живое
        сообщество, дать возможность высказать свое мнение,
        послушать мнения других и просто поговорить о чем угодно.</i>

    </h3>

    <div class="row">
    <div class="col-3">
        <div class="list-group">
            {% for category in categories %}
                <div>
                    <div>
                        <a href="{% url 'category' slug=car.slug category_slug=category.slug %}">{{ category.title }}</a>
                    </div>
                    <div style="padding-left: 20px;">
                        {% for sub in category.children.all %}
                            <div>
                                <a href="{% url 'category' slug=car.slug category_slug=sub.slug %}">{{ sub.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

