{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CARSGURU</a>
        </div>
        <div class="topnav">
            <a class="active" href="#home">РЕГИСТРАЦИЯ</a>
            <a class="active" href="#home">ГЛАВНОЕ</a>
            <a href="C:\Users\PC\Desktop\auto_zone\O nas.html">O НАС</a>
            <a href="parts.html">АВТО ЗАПЧАСТИ</a>
            <a href="auto.html">АВТО МАШИНЫ</a>
            <a href="C:\Users\PC\Desktop\auto_zone\NURDIN.HTML">КОНТАКТЫ</a>
        </div>

        <!-- Add font awesome icons -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% if not request.get_full_path == '/' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Категории <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for categories in category %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

        </ul>
    </div>

    </div>
</nav>

</div>
<!-- /. navbar-collapse -->
</div>
<!-- container -->
</nav>
<!-- Page Content -->
<div class="container">
    {% block content %}
        Автозапчасти
        {#                        <div class="row">#}
        {#                            <div class="col-md-3">#}
        {#                                <p class="lead"><strong>Cars Guru</strong></p>#}
        {#                                <div class="list-group">#}
        {#                                    {% for category in categories %}#}
        {#                                        {% url 'category' car_slug=car.slug category_slug=category.slug%}#}
        {#                                        <a href="{{ category.get_absolute_url }}" class="list-group-item">#}
        {#                                            <p>{{ category.children.first }}</p>#}
        {#                                        </a>#}
        {#                                    {% endfor %}#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}


        <div class="col-sm-9">

            <div class="row carousel-holder">

                <div class="col-sm-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn1.carbuyer.co.uk/sites/carbuyer_d7/files/styles/gallery_adv/public/2017/12/alfa-romeo-stelvio-quadrifoglio.jpg?itok=IXk4iuL2s"
                                     class="d-block w-100" width="600" height=400" alt="ferst">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/2017/12/lamborghini-urus-8_1.jpg"
                                     class="d-block w-100" width="600" height="400" alt="second">
                            </div>
                            <div class="carousel-item">
                                <img src="https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202019/Magazine/04April/CR-Cars-InlineHero-TopTen-BMW-X5-2-18v3"
                                     class="d-block w-100" width="600" height="400" alt="third">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-http://placehold.it/800x300control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="card-group">
                {% for car in cars %}
                    <div class="col-4 mb-5">
                        <div class="card">
                            <img src="{{ car.image.url }}" class="card-img-top" alt="..."
                                 style='width:100%; height: 350px;'>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ car.get_absolute_url }}">{{ car.title }}</a></h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to
                                    additional content.</p>
                                <p class="card-text">
                                    <small class="text-muted">{{ car }}</small>
                                </p>
                                {% if request.user.is_authenticated %}
                                    <p class='text-right'><a href='#' class='add_to_cart'
                                                             data-slug='{{ car.slug }}'></a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        </div>

        </div>
        </div>
        </div>
    {% endblock %}
<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright Scopy: Your Website 2019</p>
            </div>
        </div>
    </footer>
</div>
</div>
</body>
</html>
