{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="col-sm-4">

    <h4 class="text-center">{{ product.title }}</h4>
    <p><em><strong><i>КОНТАКТНЫЕ ДАННЫЕ </i></strong></em></p>
    <p>Электронная почта</p>
    <p>Офис</p>
    <p>Покупателям</p>

    <p>emilbekovagulzada.kg@gmail.com</p>

    <p>Часы работы</p>
    <p>Офис</p>
    <p> Будни с 8:00 - 17:00</p>
    <p>Обработка заказов</p>
    <p>круглосуточно</p>
    <p>Реквизиты компании</p>
    <p>Адрес</p>
    Кыргызстан , г. Бишкек, микрорайон Кок-Жар
    На личном транспортеНа общественном транспорте

{% endblock %}
</div>


