{% extends 'product_list.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    {% for category in categories %}
                        <div>
                            <div>
                                <a href="{% url 'category' slug=car.slug category_slug=category.slug %}">{{ category.title }}</a>
                            </div>
                            <div style="padding-left: 20px;">
                                {% for sub in category.children.all %}
                                    <div>
                                        <a href="{% url 'category' slug=car.slug category_slug=sub.slug %}">{{ sub.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                {% for object in object_list %}
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ object.image.url }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-6">
                            <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
                            <div>{{ object.description }}</div>
                        </div>
                        <div class="col-2">
                            {{ object.price }}
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock content %}
